@model PortalSpolecznosciowy.Models.ApplicationUser
@using Microsoft.AspNet.Identity
@using PortalSpolecznosciowy.Models


@if (Model.Post.Count > 0)
{
    foreach (Post post in Model.Post.OrderBy(d=>d.Date))
    {
        if (!post.IsDeleted)
        {
            <div class="panel panel-default">
                <div class="panel-body">
                    @if (User.Identity.IsAuthenticated && Model.Id == User.Identity.GetUserId())
                    {
                        Html.RenderPartial("_dropdownPostEditDelete", post);
                    }

                    <div class="clearfix">
                        <div class="media">
                            <div class="media-left media-middle">
                                <a href="@Url.Content("/ProfilUser/Show/" + Model.Id)">
                                    <img src="@Url.Content("/Content/UploadUsersAvatars/" + Model.Id + "/" + Model.Image)" class="media-object img-responsive pull-left" style="margin-right: 10px;" alt="brak zdjęcia" height="64" width="64"/>
                                </a>
                            </div>
                            <div class="media-body">
                                <p class="media-heading">
                                    @Html.ActionLink(Model.FullName, "Show", "ProfilUser", new {id = Model.Id}, null)
                                </p>
                                <p class="media-heading">
                                    Data dodania: <a href="@Url.Content("~/Post/ShowSinglePost/" + post.PostId)"><small><span class="glyphicon glyphicon-time"></span> @post.Date </small></a>
                                </p>
                                <div id="post_@post.PostId">
                                    @post.Content
                                </div>
                            </div>
                        </div>
                    </div>@*clearfix*@
                </div>@*panel-body*@
            </div> @*panel panel-default*@
        } @*if post isdelete*@

    } /*end foreach*/
} @*end if*@
else
{
    <div class="panel panel-default">
        <div class="panel-body">
           <p>Brak postów</p>
        </div>@*panel-body*@
    </div> @*panel panel-default*@
}