@model PortalSpolecznosciowy.Models.Post
@using Microsoft.AspNet.Identity
@using PortalSpolecznosciowy.Models

@if (User.Identity.IsAuthenticated)
{
    <div class="panel panel-default commentPanel">
        <div class="panel-body">
            @if (TempData["Message"] != null)
            {
                <div class="alert alert-danger" role="alert">@TempData["Message"]</div>
            }

            @using (Html.BeginForm("Add", "Comment", FormMethod.Post, htmlAttributes: new { id = "formComment" }))
            {
                @Html.ValidationSummary()
                @Html.AntiForgeryToken()
                @Html.Hidden("UserId", User.Identity.GetUserId())
                @Html.Hidden("PostId", Model.PostId)

                if (!((ApplicationUser)ViewBag.User).Image.IsEmpty())
                {
                    if (((ApplicationUser)ViewBag.User).Image.StartsWith("https://"))
                    {
                        <a href="@Url.Content("/ProfilUser/Show/" + (((ApplicationUser)ViewBag.User).Id))">
                            <img src="@(((ApplicationUser)ViewBag.User).Image)" class="img-responsive" alt="Avatar użytkownika" height="200" width="200" />
                        </a>
                    }
                    else
                    {
                        <a href="@Url.Content("/ProfilUser/Show/" + (((ApplicationUser)ViewBag.User).Id))">
                            <img src="@Url.Content("/Content/UploadUsersAvatars/" + (((ApplicationUser)ViewBag.User).Id) + "/" + (((ApplicationUser)ViewBag.User).Image))" class="pull-left img-responsive" alt="Avatar użytkownika" height="42" width="42" />
                        </a>
                    }
                }

                <input type="text" name="Content_@Model.PostId" class="form-control commentContent pull-left" placeholder="Skomentuj" />
                @Html.ValidationMessage("Content_" + Model.PostId, "", new { @class = "text-danger" })
                <button type="submit" class="btn btn-default pull-right"><span class="glyphicon glyphicon-plus"></span></button>
            }
        </div>@*panel-body*@
    </div>@*panel panel-default commentPanel*@
}@*end if comment*@