@model IEnumerable<PortalSpolecznosciowy.Models.Post>
@using Microsoft.AspNet.Identity
@using PortalSpolecznosciowy.Models


@if (Model.Any())
{
    foreach (Post post in Model.OrderByDescending(d => d.Date))
    {
        if (!post.IsDeleted)
        {
            <div class="panel panel-default postPanel" id="postPanel_@post.PostId">
                <div class="panel-body">
                    @if (User.Identity.IsAuthenticated && post.User.Id == User.Identity.GetUserId())
                    {
                        Html.RenderPartial("~/Views/Post/_dropdownPostEditDelete.cshtml", post);
                    }

                    <div class="clearfix">
                        <div class="media">
                            <div class="media-left media-middle pull-left">
                                <a href="@Url.Content("/ProfilUser/Show/" + post.User.Id)">
                                    @if (!post.User.Image.IsEmpty())
                                    {
                                        if (post.User.Image.StartsWith("https://"))
                                        {
                                            <img src="@post.User.Image" class="img-responsive" alt="Avatar użytkownika" height="64" width="64" />
                                        }
                                        else
                                        {
                                            <img src="@Url.Content("/Content/UploadUsersAvatars/" + post.User.Id + "/" + post.User.Image)" class="img-responsive" alt="Avatar użytkownika" height="64" width="64" />
                                        }
                                    }
                                </a>
                            </div>
                            <div class="media-body">
                                <p class="media-heading">
                                    @Html.ActionLink(post.User.FullName, "Show", "ProfilUser", new { id = post.User.Id }, null)
                                </p>
                                <p class="media-heading">
                                    Data dodania: <a href="@Url.Content("~/Post/ShowSinglePost/" + post.PostId)"><small><span class="glyphicon glyphicon-time"></span> @post.Date </small></a>
                                </p>
                                <div id="post_@post.PostId">
                                    @post.Content
                                </div>

                                <div class="pull-left">
                                    @Html.Partial("~/Views/Like/_formAddLikePost.cshtml", post)
                                </div>

                                <p class="pull-right">@post.Comment.Count(c => c.IsDeleted == false) komentarzy</p>
                                <span class="clearfix"></span>

                                @Html.Partial("~/Views/Comment/_displaySingleCommentPartial.cshtml", post.Comment)

                            </div>

                            @Html.Partial("~/Views/Comment/_formAddedCommentPartial.cshtml", post)

                        </div>
                    </div>@*clearfix*@
                </div>@*panel-body*@
            </div> @*panel panel-default*@
        } @*if post isdelete*@

    } /*end foreach*/
} @*end if*@
else
{
    <div class="panel panel-default">
        <div class="panel-body">
            <p>Brak wpisów</p>
        </div>@*panel-body*@
    </div> @*panel panel-default*@
}
