@using Microsoft.AspNet.Identity
@model PortalSpolecznosciowy.Models.ViewModel.SinglePostUser

@{
    ViewBag.Title = "Show Post";
}

<div class="row showSinglePost">
    <div class="col-lg-8 col-lg-offset-2">


        <div class="panel panel-default">
            <div class="panel-body">

                @if (User.Identity.IsAuthenticated && Model.User.Id == User.Identity.GetUserId())
                {
                    <div class="dropdown pull-right">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="@Url.Content("/Post/Edit/" + Model.Post.PostId)">Edytuj</a>
                            </li>
                            <li>
                                <a href="@Url.Content("/Post/Delete/" + Model.Post.PostId)">Usuń</a>
                            </li>
                        </ul>
                    </div>
                } @*end if*@

                <div class="clearfix">

                    @Html.Partial("~/Views/ProfilUser/_showAvatarPostComment.cshtml", Model.User)

                    <div class="pull-left showSinglePostAuthor">
                        @if (User.Identity.GetUserId() == Model.User.Id)
                        {
                            <a href="@Url.Content("~/ProfilUser/Show/" + Model.User.Id)"><strong>@Model.User.FullName</strong></a>
                            <br />
                        }
                        else
                        {
                            <strong>@Html.ActionLink(Model.User.FullName, "Show", "Friend", new { id = Model.User.Id }, null)</strong><br />
                        }
                        Data dodania: <small><span class="glyphicon glyphicon-time"></span> @Model.Post.Date</small>
                    </div>
                </div>

                <div id="post_@Model.Post.PostId" class="showSinglePostContent">
                    @Model.Post.Content
                </div>

            </div>
        </div>

    </div>
</div>