@model IEnumerable<PortalSpolecznosciowy.Models.Comment>
@using Microsoft.AspNet.Identity
@using PortalSpolecznosciowy.Models


@if (Model.Any())
{
    foreach (Comment comment in Model.OrderBy(d => d.Date))
    {
        if (!comment.IsDeleted)
        {
            <div class="panel panel-default commentPanel_@comment.CommentId" id="commentPanel_@comment.CommentId">
                <div class="panel-body">
                    @if (User.Identity.IsAuthenticated && comment.UserId == User.Identity.GetUserId())
                    {
                        Html.RenderPartial("~/Views/Comment/_dropdownCommentEditDelete.cshtml", comment);
                    }

                    <div class="clearfix">
                        <div class="media">
                            <div class="media-left media-middle pull-left">
                                <a href="@Url.Content("/ProfilUser/Show/" + comment.UserId)">

                                    @Html.Partial("~/Views/ProfilUser/_showAvatarPostComment.cshtml", comment.User)

                                </a>
                            </div>
                            <div class="media-body">
                                <p class="media-heading">
                                    @Html.ActionLink(comment.User.FullName, "Show", "ProfilUser", new {id = comment.User.Id}, null) <br/>
                                    Data dodania: <a href="@Url.Content("~/Comment/ShowSingleComment/" + comment.CommentId)"><small><span class="glyphicon glyphicon-time"></span> @comment.Date </small></a>
                                </p>
                                
                                <div id="comment_@comment.CommentId">
                                    <p>@comment.Content</p>
                                </div>
                            </div>

                            <div class="pull-left">
                                @Html.Partial("~/Views/Like/_formAddLikeComment.cshtml", comment)
                            </div>

                        </div>
                    </div>@*clearfix*@
                </div>@*panel-body*@
            </div> @*panel panel-default*@
        } @*if post isdelete*@

    } /*end foreach*/
} @*end if*@
else
{
    <div class="panel panel-default">
        <div class="panel-body">
            <p>Brak wpisów</p>
        </div>@*panel-body*@
    </div> @*panel panel-default*@
}
