@using Microsoft.AspNet.Identity
@model PortalSpolecznosciowy.Models.Comment
@{
    ViewBag.Title = "Edit comment";
}

<div class="row showSingleComment">
    <div class="col-lg-8 col-lg-offset-2">


        <div class="panel panel-default">
            <div class="panel-body">

                @if (User.Identity.IsAuthenticated && Model.User.Id == User.Identity.GetUserId())
                {
                    @Html.Partial("_dropdownCommentEditDelete", @Model);
                }

                <div class="clearfix">

                    @Html.Partial("~/Views/ProfilUser/_showAvatarPostComment.cshtml", Model.User)

                    <div class="pull-left showSinglePostAuthor">
                        @if (User.Identity.GetUserId() == Model.User.Id)
                        {
                            <a href="@Url.Content("~/ProfilUser/Show/" + Model.User.Id)"><strong>@Model.User.FullName</strong></a>
                            <br />
                        }
                        else
                        {
                            <strong>@Model.User.FullName</strong>
                            <br />
                        }
                        Data dodania: <a href="@Url.Content("~/Comment/ShowSingleComment/" + @Model.CommentId)" class="text-muted"> <small><span class="glyphicon glyphicon-time"></span> @Model.Date</small></a>
                    </div>
                </div>

                <div id="commnet_@Model.CommentId" class="showSingleCommentContent">
                    @using (Html.BeginForm("Edit", "Comment", FormMethod.Post, htmlAttributes: new { id = "editComment" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.CommentId)
                        @Html.HiddenFor(model => model.PostId)
                        @Html.HiddenFor(model => model.UserId)
                        @Html.TextAreaFor(model => model.Content, 5, 60, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                        <button type="submit" class="btn btn-default pull-right">Save</button>
                    }
                </div>

            </div>
        </div>

    </div>
</div>