@model IEnumerable<PortalSpolecznosciowy.Models.ApplicationUser>

@{
    ViewBag.Title = "Lista znajomych";
}


<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">Lista znajomych <span class="label label-default">@Model.Count()</span></div>
            <div class="panel-body">

                @if (!Model.Any())
                {
                    <h4 class="text-center">Brak znajomych</h4>
                }
                else
                {
                    <div class="row">
                        @foreach (var friend in Model)
                        {
                            <div class="col-sm-4 text-center">
                                <a href="@Url.Content("~/Friend/Show/" + friend.Id)">
                                    <div class="thumbnail">
                                        @if (friend.Image.Contains("https"))
                                        {
                                            <img src="@friend.Image" class="img-responsive" alt="Avatar użytkownika" height="200" width="200" />
                                        }
                                        else
                                        {
                                            <img src="@Url.Content("/Content/UploadUsersAvatars/" + friend.Id + "/" + friend.Image)" class="img-responsive" alt="Avatar użytkownika" height="200" width="200" />
                                        }
                                        <h5>@friend.FullName</h5>
                                    </div>
                                </a>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>
