@using Microsoft.AspNet.Identity
@using PortalSpolecznosciowy.Models
@model PortalSpolecznosciowy.Models.ViewModel.UserFriendViewModel

@{
    ViewBag.Title = "Informacje o użytkowniku";
}
<br />
<div class="row">
    <div class="col-md-3 col-md-offset-1">
        <div class="panel panel-default">

            <div class="panel-heading clearfix">
                <div class="pull-left">Użytkownik</div>
                <div class="pull-right">
                    @if (User.Identity.IsAuthenticated && User.Identity.GetUserId().Equals(Model.User.Id))
                    {
                        @Html.ActionLink("Edytuj", "Edit", "ProfilUser", new { id = Model.User.Id }, null)
                    }
                </div>
            </div>@*edycja uzytkownika panel-heading clearfix*@

            <div class="panel-body text-center">

                @if (!Model.User.Image.IsEmpty())
                {
                    if (Model.User.Image.Contains("https"))
                    {
                        <img src="@Model.User.Image" class="img-responsive" alt="Avatar użytkownika" height="200" width="200" />
                    }
                    else
                    {
                        <img src="@Url.Content("/Content/UploadUsersAvatars/" + Model.User.Id + "/" + Model.User.Image)" class="img-responsive" alt="Avatar użytkownika" height="200" width="200" />
                    }
                }

                <h2>
                    @if (User.Identity.IsAuthenticated && User.Identity.GetUserId().Equals(Model.User.Id))
                    {
                        @Html.ActionLink(Model.User.FullName, "Show", "ProfilUser", new { id = Model.User.Id }, null)
                    }
                    else
                    {
                        @Model.User.FullName
                    }

                </h2>

                @if (Model.User.Sex == "m")
                {
                    <p>Mężczyzna</p>
                }
                else
                {
                    <p>Kobieta</p>
                }
                <p>@Model.User.Email</p>

                <p>
                    <a href="@Url.Action("ListOfFriends", "Friend", new {id = Model.User.Id})" class="btn btn-xs btn-primary">Znajomych <span class="badge">@Model.AllFriendsUser.Count()</span></a>
                </p>


            </div>@*panel-body text-center*@
        </div>@*profil uzytkownika panel panel-default*@


        @if (User.Identity.IsAuthenticated && Model.User.Id != User.Identity.GetUserId())
        {
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    @if (Model.IsFriend == false)
                    {
                        using (Html.BeginForm("Add", "Friend", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("friendId", Model.User.Id)
                            <button class="btn btn-success">Dodaj znajomego</button>
                        }
                    }

                    @if (Model.IsFriend == true && Model.IsAccept == false)
                    {
                        <button class="btn btn-info disabled">Zaproszenie wysłane</button>
                    }

                    @if (Model.IsFriend && Model.IsAccept)
                    {
                        using (Html.BeginForm("DeleteFriend", "Friend", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("friendId", Model.User.Id)
                            <button class="btn btn-danger">Usuń ze znajomych</button>
                        }
                    }
                </div>
            </div>@*usuniecie, akceptacja uzytkownika*@
        }


    </div>



    <div class="col-md-7">
        @if (TempData["Message"] != null)
        {
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="alert alert-danger" role="alert">@TempData["Message"]</div>
                </div>
            </div>
        }

        @Html.Partial("_displayPostPartial", Model.User.Post)

    </div>
</div>
