@using Microsoft.AspNet.Identity
@model PortalSpolecznosciowy.Models.ViewModel.UserFriendViewModel

@{
    ViewBag.Title = "Informacje o użytkowniku";
}
<br />
<div class="row">
    <div class="col-md-3 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <div class="pull-left">Użytkownik</div>
                <div class="pull-right">
                    @if (User.Identity.IsAuthenticated && User.Identity.GetUserId().Equals(Model.User.Id))
                    {
                        @Html.ActionLink("Edytuj", "Edit", "ProfilUser", new { id = Model.User.Id }, null)
                    }
                </div>
            </div>
            <div class="panel-body text-center">

                @if (!Model.User.Image.IsEmpty())
                {
                    <img src="@Url.Content("/Content/UploadUsersAvatars/" + Model.User.Id + "/" + Model.User.Image)" alt="Avatar użytkownika" height="200" width="200" />
                }

                <h2>
                    @if (User.Identity.IsAuthenticated && User.Identity.GetUserId().Equals(Model.User.Id))
                    {
                        @Html.ActionLink(Model.User.FullName, "Edit", "ProfilUser", new { id = Model.User.Id }, null)
                    }
                    else
                    {
                        @Model.User.FullName
                    }
                </h2>

                @if (Model.User.Sex == "m")
                {
                    <p>Mężczyzna</p>
                }
                else
                {
                    <p>Kobieta</p>
                }
                <p>@Model.User.Email</p>

                @if (User.Identity.IsAuthenticated && Model.User.Id != User.Identity.GetUserId())
                {
                    if (Model.IsFriend == false)
                    {
                        using (Html.BeginForm("Add", "Friend", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("friendId", Model.User.Id)
                            <button class="btn btn-success">Dodaj znajomego</button>
                        }
                    }

                    if (Model.IsFriend == true && Model.IsAccept == false)
                    {
                        <button class="btn btn-info disabled">Zaproszenie wysłane</button>
                    }

                    if (Model.IsFriend && Model.IsAccept)
                    {
                        using (Html.BeginForm("DeleteFriend", "Friend", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("friendId", Model.User.Id)
                            <button class="btn btn-danger">Usuń ze znajomych</button>
                        }

                    }
                }
            </div>
        </div>
    </div>

    <div class="col-md-7">
        <div class="panel panel-default">
            <div class="panel-body">
                @if (TempData["Message"] != null)
                {
                    <div class="alert alert-danger" role="alert">@TempData["Message"]</div>
                }
                <p>Velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget sem nulla eu ultricies orci praesent id augue nec lorem pretium congue sit amet ac nunc fusce iaculis lorem eu diam hendrerit at mattis purus dignissim vivamus mauris tellus, fringilla vel dapibus a, blandit quis erat vivamus elementum aliquam luctus etiam fringilla pretium sem vitae sodales mauris id nulla est praesent laoreet, metus vel auctor aliquam, eros purus vulputate leo, eget consequat neque quam id tellus duis ultricies tempor tortor, vitae dignissim ligula mattis nec in hac habitasse platea dictumst.</p>
            </div>
        </div>
    </div>
</div>
